.banner {
	width: 100%;
	height: 40vh;

	position: relative;
}
.bannerImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}
.bannerTitle {
	width: 40%;
	color: var(--white);
	font-size: var(--hx5);
	line-height: var(--hx5);
	font-family: var(--font-gotham-bold), sans-serif;
	text-align: right;

	position: absolute;
	top: 50%;
	right: 5%;
	transform: translate(0, -50%);
	z-index: 2;
}
@media (max-width: 64em) {
	.bannerTitle {
		width: 60%;
		font-size: var(--hx3);
		line-height: var(--hx3);

		right: 2rem;
	}
}
@media (max-width: 48em) {
	.bannerTitle {
		width: 70%;
		font-size: var(--h1);
		line-height: var(--h1);

		right: 2rem;
	}
}
@media (max-width: 30em) {
	.bannerTitle {
		width: 90%;
		font-size: var(--h2);
		line-height: var(--h2);

		right: 2rem;
	}
}

.mentoriasContent {
	padding: 4rem 15%;
}
@media (max-width: 48em) {
	.mentoriasContent {
		padding: 2rem 2rem;
	}
}
.mentoriasText {
	text-align: center;
	font-size: var(--h5);
}

.keyBenefits {
	width: 100%;
	height: auto;
	padding: 4rem 5rem;

	background-color: var(--custom-gray-light2);

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}
@media (max-width: 64em) {
	.keyBenefits {
		padding: 2rem 2rem;
	}
}
@media (max-width: 48em) {
	.keyBenefits {
		padding: 2rem 2rem;

		flex-direction: column;
		gap: 2rem;
	}
}

.leftSide {
	min-width: calc(60% - 5rem);
	min-height: 50vh;
	padding: 0;

	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.video {
	width: 100%; /* El iframe ocupará el 100% del contenedor */
	max-width: 100%; /* Para limitar el ancho máximo */
	aspect-ratio: 16 / 9; /* Mantiene la relación de aspecto 16:9 */
	border: 0;
}
@media (max-width: 48em) {
	.leftSide {
		min-width: 100%;
		min-height: 40vh;
		padding: 0 2rem;
		flex-grow: 1;
	}
	.video {
		width: 100%;
		max-width: 98%;
	}
}

.rightSide {
	min-width: calc(40% - 5rem);

	flex-grow: 1;
}
@media (max-width: 48em) {
	.rightSide {
		min-width: 100%;
		height: auto;
		flex-grow: 1;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
}

.list {
	list-style-type: none;
	padding-left: 0;
}

.listItem {
	font-size: var(--p);
	margin-bottom: 1.5rem; /* Espacio entre los elementos */
}

.customBullet {
	display: inline-block;
	width: 1.2rem;
	height: 1.2rem;
	/* background-color: var(--custom-pink); */
	border: 2px solid var(--custom-pink);
	border-radius: 50%;
	margin-right: 0.75rem;
}

.highlightedText {
	font-family: var(--font-gotham-bold), sans-serif;
	font-weight: bold;
	color: var(--custom-pink);
}

.contact {
	width: 100%;
	height: 40vh;
	padding: 3rem 10%;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
.leftSide {
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}
.leftSide h3 {
	width: 80%;
	color: var(--black);
	font-size: var(--h1);
	font-family: var(--font-gotham-bold), sans-serif;
}
