.banner {
	width: 100%;
	height: 40vh;

	position: relative;
}
@media (max-width: 48em) {
	/* Hasta xl (1360px) */
	.banner {
		width: 100%;
		aspect-ratio: 1933 / 900;
		height: auto;
	}
}
.bannerImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}
.bannerTitle {
	color: var(--white);
	font-size: var(--hx5);
	font-family: var(--font-gotham-bold), sans-serif;

	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%) rotate(-90deg);
	z-index: 2;
}
@media (max-width: 48em) {
	.bannerTitle {
		font-size: var(--h1);
	}
}
@media (max-width: 30em) {
	.bannerTitle {
		font-size: var(--h2);
	}
}

.contact {
	width: 100%;
	height: auto;
	padding: 3rem 4rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}
@media (max-width: 64em) {
	.contact {
		padding: 2rem;
	}
}
@media (max-width: 48em) {
	.contact {
		padding: 2rem 1rem;

		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}
.contact h2 {
	color: var(--black);
	font-size: var(--h3);
	line-height: var(--h3);
	font-family: var(--font-gotham-medium), sans-serif;
	text-align: center;
}
.contact h3 {
	color: var(--custom-pink);
	font-size: var(--hx1);
	line-height: var(--hx1);
	font-family: var(--font-gotham-bold), sans-serif;
	text-align: center;
}

.columns {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15rem;
}
@media (max-width: 64em) {
	.columns {
		gap: 5rem;
	}
}
@media (max-width: 48em) {
	.columns {
		margin-top: 3rem;
		gap: 0;
		flex-direction: column;
	}
}
.leftSide {
	width: calc(50% - 15rem);
	display: flex;
	align-items: flex-end;
}
@media (max-width: 64em) {
	.leftSide {
		width: calc(50% - 5rem);
	}
}
@media (max-width: 48em) {
	.leftSide {
		display: none;
	}
}

.rightSide {
	width: calc(50% - 15rem);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10rem;
}
@media (max-width: 64em) {
	.rightSide {
		width: calc(50% - 5rem);
	}
}
@media (max-width: 48em) {
	.rightSide {
		width: 100%;
		gap: 5rem;
		justify-content: center;
		align-items: center;
	}
}
.box {
	display: flex;
	align-items: center;
	gap: 3rem;
}
.boxRight {
	display: flex;
	flex-direction: column;
}
.boxRight h5 {
	font-size: var(--h5);
	margin: 0;
}
.boxRight a {
	font-size: var(--h5);
	font-family: var(--font-gotham-bold), sans-serif;
	margin: 0;
}
.customHover:hover {
	color: var(--custom-pink);
}

.phoneIcon,
.whatsIcon {
	font-size: 7rem;
	color: var(--custom-pink);
}

.whatsappButton {
	text-decoration: none;
	height: 80%;
	width: fit-content;
	padding: 1rem 1.5rem;
	border-radius: 5rem;
	margin-top: 2rem;

	background-color: var(--custom-green);
	color: var(--black);

	font-size: var(--p2);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.whatsappButton:hover {
	background-color: var(--custom-green-dark1);
	text-decoration: underline;
}
