.navBar {
}
.topBar {
	height: 4rem;
	width: 100vw;
	padding: 3rem 1rem;
	/* padding: 3rem 1rem; */
	background-color: var(--foreground);
	color: var(--white);

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.menuButtonContainer {
	display: flex;
	gap: 1rem;
}
.menubuttoncontainer:hover,
.menuButton:hover {
	cursor: pointer;
}
.menuButton {
	font-size: var(--hx1);
	color: var(--white);
}

.iconContainer {
	height: auto;
	width: auto;
}
.icon {
	font-size: var(--h5);
}

.rightSide {
	display: flex;
	justify-content: end;
	gap: 2.5rem;
	align-items: center;
}

.phonesContainer {
	display: flex;
	gap: 1.3rem;
}
@media (max-width: 35em) {
	/* Hasta xl (1360px) */
	.phonesContainer {
		display: none;
	}
}
.phoneContainer {
	display: flex;
	align-items: center;
	gap: 0.8rem;
}
.phoneIcon {
	font-size: var(--p2);
	color: var(--custom-pink);
}
.phoneNumber {
	text-decoration: none;
	font-size: var(--p2);
	font-weight: 800;
	color: var(--white);
}
.phoneNumber:hover {
	text-decoration: underline;
}

.whatsappButton {
	text-decoration: none;
	height: 80%;
	width: fit-content;
	padding: 0.5rem 1rem;
	border-radius: 5rem;

	background-color: var(--custom-pink);
	color: var(--white);

	font-size: var(--p2);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
}
.whatsappButton:hover {
	background-color: var(--custom-pink-dark1);
	text-decoration: underline;
}
.whatsIcon {
	font-size: var(--p);
	color: var(--white);
}

/* barra responsive HiddenMenu */
.hiddenMenu {
	height: 100vh;
	width: 100vw;
	background-color: rgba(77, 77, 77, 0.8);
	border-radius: 60%;
	padding: 5rem 2rem;

	/* position: fixed; */
	position: fixed;
	left: -110%;
	top: -10%;
	transition: all 0.8s ease-in-out;
	z-index: 1000;
}
.show {
	border-radius: 0;
	left: 0;
	top: 0;
}
.navButtonContainer {
	display: flex;
	justify-content: center;
}
.menuButtonClose {
	font-size: 8rem;
	color: var(--white);
}

.navList {
	margin-top: 3rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
.navItem {
	width: 100%;
	height: fit-content;
	padding: 2rem 0 0.5rem 0;
	text-align: center;
	font-size: var(--h5);
	line-height: var(--h5);
	color: var(--white);
	text-decoration: none;
	border-bottom: 2px solid var(--custom-gray-light2);
}
.navItem a:hover {
	text-decoration: underline;
	color: var(--custom-pink);
	cursor: pointer;
}
.navItem:hover a {
	text-decoration: underline;
	color: var(--custom-pink);
	cursor: pointer;
}
