.banner {
	width: 100%;
	height: 40vh;

	position: relative;
}
.bannerImage {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 0;
	left: 0;
}
.bannerTitle {
	color: var(--white);
	font-size: var(--hx5);
	font-family: var(--font-gotham-bold), sans-serif;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.infoSection {
	width: 100%;
	min-height: 50vh;
	height: auto;
	padding: 0;

	display: flex;
	justify-content: center;
	align-items: stretch;
}
.infoSection2 {
	background-color: var(--custom-gray-light2);
}
@media (max-width: 48em) {
	.infoSection,
	.infoSection2 {
		flex-wrap: wrap;
	}
}

.servicesContainer {
	width: 60%;
	height: 100%;

	padding: 3rem 0;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}
@media (max-width: 48em) {
	.servicesContainer {
		width: 100%;
		justify-content: space-between;
		padding: 2rem 3rem;
	}
}
@media (max-width: 30em) {
	.servicesContainer {
		flex-wrap: wrap;
	}
}
.service {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
@media (max-width: 48em) {
	.service {
		width: 50%;
	}
}
@media (max-width: 30em) {
	.service {
		width: 100%;
	}
}
.serviceIcon {
	width: 12rem;
	height: 12rem;
}
.service h3 {
	color: var(--black);
	font-size: var(--h3);
	font-family: var(--font-gotham-bold), sans-serif;
	text-align: center;
}
.service p {
	color: var(--black);
	font-size: var(--p);
	font-family: var(--font-gotham-medium), sans-serif;
	text-align: center;
}
.bgImageContainer {
	width: 40%;
	min-height: 100%;
	flex-grow: 1;
}
.bgImage {
	width: 100%;
	min-height: 100%;

	object-fit: cover;
}
.bgImage2 {
	width: 100%;
	height: auto;

	object-fit: contain;
}
@media (max-width: 48em) {
	.bgImageContainer {
		display: none;
	}
}

.contact {
	width: 100%;
	height: 40vh;
	padding: 3rem 10%;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}
@media (max-width: 48em) {
	.contact {
		padding: 2rem 3rem;

		flex-direction: column;
		justify-content: center;
		gap: 2rem;
	}
}
.leftSide {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
}
.leftSide h3 {
	width: 100%;
	color: var(--black);
	font-size: var(--h1);
	font-family: var(--font-gotham-bold), sans-serif;
	text-align: center;
}
@media (max-width: 48em) {
	.leftSide {
		width: 100%;
	}
	.leftSide h3 {
		width: 100%;
	}
}

.highlight {
	color: var(--custom-pink);
	font-weight: bold;
}

.whatsappButton {
	text-decoration: none;
	height: 85%;
	width: fit-content;
	padding: 0.5rem 1rem;
	border-radius: 5rem;

	background-color: var(--custom-green);
	color: var(--black);

	font-size: var(--h5);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem 0.5rem;
}
.whatsappButton:hover {
	background-color: var(--custom-green-dark1);
	text-decoration: underline;
}
.whatsIcon {
	font-size: var(--h5);
	color: var(--black);
}
