.contactSection {
	width: 100%;
	height: auto;
	padding: 4rem 5rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}
@media (max-width: 64em) {
	.contactSection {
		padding: 2rem 1rem;
		flex-direction: column;
		gap: 2rem;
	}
}

.leftSide {
	width: calc(40% - 4rem);
}
.leftSide h3 {
	font-family: var(--font-gotham-bold), sans-serif;
	margin-bottom: 1rem;
}
.leftSide p {
}
@media (max-width: 64em) {
	.leftSide {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.leftSide h3 {
		text-align: center;
	}
	.leftSide p {
		text-align: center;
	}
}

.rightSide {
	width: calc(60% - 4rem);
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 64em) {
	.rightSide {
		width: 100%;
	}
}

/* Estilos generales del formulario */
/* Clase para el contenedor del formulario */
.contactForm {
	width: 100%;
	max-width: 55rem;

	margin: 0 auto;
	padding: 2rem 3rem;

	background-color: white;

	border-radius: 4px;
	border: 1px solid #00b8eb;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el grupo de cada campo */
.formGroup {
	margin-bottom: 3rem;
}

/* Clase local asociada a label */
.label {
	font-size: var(--p);
	color: #212121;
	display: block;
	margin-bottom: 0.5rem;
}

/* Estilos para los campos de texto y textarea */
.input {
	width: 100%;
	padding: 0.5rem;
	border-bottom: 1px solid var(--custom-blue);
	border-radius: 4px;
	outline: none;

	font-family: var(--font-gotham-light), sans-serif;
	font-size: var(--p);
}

.input:focus {
	outline: 1px solid var(--custom-blue-dark1);
	border: 1px solid var(--custom-blue-dark1);
}

.textArea {
	width: 100%;
	height: 9rem;
	padding: 0.5rem;
	border: 1px solid var(--custom-blue);
	border-radius: 4px;
	outline: none;

	font-family: var(--font-gotham-light), sans-serif;
	font-size: var(--p);
}
.textArea:focus {
	outline: 1px solid var(--custom-blue-dark1);
	border: 1px solid var(--custom-blue-dark1);
}

.error {
	color: red;
	font-size: var(--p2);
	margin-top: 0.5rem;
}
.response {
	color: var(--custom-blue-dark2);
	font-size: var(--h5);
	margin-top: 0.5rem;
}
.loading {
	color: var(--black);
	font-weight: bold;
	font-size: var(--p2);
	margin-top: 0.5rem;
}

/* Botón de enviar */
.buttonGroup {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.buttonGroup .error,
.buttonGroup .response,
.buttonGroup .loading {
	text-align: center;
}
.button {
	width: 90%;
	padding: 0.75rem 0;
	background: var(--custom-pink-dark2);

	border: none;
	border-radius: 50px;
	cursor: pointer;
	margin: auto;

	font-size: var(--h5);
	font-weight: bold;
	color: white;
}
.button:disabled {
	background: #ccc;
	cursor: not-allowed;
	opacity: 0.7;
}
.button:hover {
	opacity: 0.9;
}
/* Desactivar hover cuando el botón está desactivado */
.button:disabled:hover {
	opacity: 0.6;
	cursor: not-allowed;
}

/* Estilos de accesibilidad */
.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

/* Para responsive */
@media (max-width: 768px) {
	.contactForm {
		padding: 1rem;
	}
}

/* confirmationMessage */
.confirmationMessage {
	width: 100%;
	height: auto;
	padding: 3rem 5rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.confirmationMessage p {
	color: var(--black);
	font-size: var(--p);
	font-family: var(--font-gotham-medium), sans-serif;
	text-align: center;
}
