.navBar {
	height: 10rem;
	width: 100%;
	padding: 1rem 1rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	height: 90%;
	width: 15rem;
}

.menuOptions {
	list-style: none;

	display: flex;
	align-items: center;
	gap: 2rem;
}

.option {
	max-width: 16rem;
	white-space: normal;

	font-size: var(--p);
	font-family: var(--font-gotham-light), sans-serif;
	font-weight: bold;
	color: var(--dark);
	text-align: center;
	text-decoration: none;
}
.option:hover {
	color: var(--custom-pink);
	text-decoration: underline;
	cursor: pointer;
}
